---
import { proyectos } from "../../../proyectos/data.js";
import Proycto from "./Proycto.astro";
---

<section class="section-proyects">
  <div class="linear-grandient-1"></div>
  <div class="container-proyects">
    <h2 class="title-proyects" id="proyectos">Proyectos</h2>
    <div>
      <ul class="ul-proyects">
        {
          proyectos.map(({ description, img, link, technologies, title }) => (
            <Proycto
              img={img}
              description={description}
              link={link}
              title={title}
              technologies={technologies}
            />
          ))
        }
      </ul>
    </div>
  </div>
</section>

<style>
  
  .linear-grandient-1 {
    position: absolute;
    left: 0;
    top: 1px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(1, 190, 150, 0.5), #000);
    /* background: linear-gradient(to left, transparent, transparent , rgba(1, 190, 150, 0.5) ); */
    z-index: 0;
  }
</style>
