---
import { proyectos } from "../../../proyectos/data.js";
import Proycto from "./Proycto.astro";
---

<section class="section-proyects">
  <div class="container-proyects">
    <h2 class="title-proyects" id="proyectos">Proyectos</h2>
    <div>
      <ul class="ul-proyects">
        {
          proyectos.map(({ description, img, link, technologies, title }) => (
            <Proycto
              img={img}
              description={description}
              link={link}
              title={title}
              technologies={technologies}
            />
          ))
        }
      </ul>
    </div>
  </div>
</section>
